<h1>Rooms</h1>

<div *ngFor="let room of rooms">
  <p>number : {{room.number}}</p>
  <p>capacity: {{room.capacity}}</p>
  <p>description : {{room.description}}</p>
  <br>
</div>

<a href="http://localhost:4200/create-room">
  <button>Create - Rooms</button>
</a>

<br>
<br>

<a href="http://localhost:4200/home-page">
  <button>Homepage</button>
</a>
