<h1>Cities</h1>

<div *ngFor="let city of cities">
  <p>Name : {{city.name}}</p>

</div>

  <a href="http://localhost:4200/create-city">
    <button>Create - City</button>
  </a>

  <br>
  <br>

  <a href="http://localhost:4200/home-page">
    <button>Homepage</button>
  </a>

