<h1>Tickets</h1>

<div *ngFor="let ticket of tickets">
  <p>id : {{ticket.id}}</p>
  <p>Tour id : {{ticket.tourId}}</p>
  <p>Participants : {{ticket.participants}}</p>
  <p>Price : {{ticket.price}}</p>
  <br>
</div>

<a href="http://localhost:4200/create-tickets">
  <button>Create - Tickets</button>
</a>

<br>
<br>

<a href="http://localhost:4200/home-page">
  <button>Homepage</button>
</a>
