<h1>Airports</h1>

<div *ngFor="let airport of airports">
  <p>name : {{airport.name}}</p>
</div>

<a href="http://localhost:4200/create-airport">
  <button>Create - Airports</button>
</a>

<br>
<br>

<a href="http://localhost:4200/home-page">
  <button>Homepage</button>
</a>

<!--<input type="text" [(ngModel)]="airportcreateDto.name" >-->

