<script src="../room-list/room-list.component.ts"></script>
<div class="container">
  <h1>Create new rooms</h1>
  <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Ticket name:</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>


<button mat-raised-button type="submit">Create Room</button>

  </form>

<a href="http://localhost:4200/create-room">
  <button>Create-Rooms</button>
</a>

<br>
<br>
<a href="http://localhost:4200/home-page">
  <button>Homepage</button>
</a>

</div>

